<!DOCTYPE html>
<!--[if IE 8]>
		<html xmlns="http://www.w3.org/1999/xhtml" class="ie8" lang="en-US">
	<![endif]-->
<!--[if !(IE 8) ]><!-->
		<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
	<!--<![endif]-->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Registration Form &lsaquo; 樱花庄的白猫 &#8212; WordPress</title>
<link rel='dns-prefetch' href='//s.w.org' />
<link rel='stylesheet' id='dashicons-css' href='../Css/dashicons.min.css' type='text/css' media='all' />
<link rel='stylesheet' id='buttons-css' href='../Css/buttons.min.css' type='text/css' media='all' />
<link rel='stylesheet' id='forms-css' href='../Css/forms.min.css' type='text/css' media='all' />
<link rel='stylesheet' id='l10n-css' href='../Css/l10n.min.css' type='text/css' media='all' />
<link rel='stylesheet' id='login-css' href='../Css/login.min.css' type='text/css' media='all' />
<script type="text/javascript">(function(url){if(/(?:Chrome\/26\.0\.1410\.63 Safari\/537\.31|WordfenceTestMonBot)/.test(navigator.userAgent)){return;}
var addEvent =function(evt,handler) {if (window.addEventListener) {document.addEventListener(evt,handler,false);} else if (window.attachEvent) {document.attachEvent('on' + evt,handler);}
};var removeEvent =function(evt,handler) {if (window.removeEventListener) {document.removeEventListener(evt,handler,false);} else if (window.detachEvent) {document.detachEvent('on' + evt,handler);}
};var evts ='contextmenu dblclick drag dragend dragenter dragleave dragover dragstart drop keydown keypress keyup mousedown mousemove mouseout mouseover mouseup mousewheel scroll'.split(' ');var logHuman =function() {if (window.wfLogHumanRan) {return;}
window.wfLogHumanRan =true;var wfscr =document.createElement('script');wfscr.type ='text/javascript';wfscr.async =true;wfscr.src =url + '&r=' + Math.random();(document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild(wfscr);for (var i =0;i < evts.length;i++) {removeEvent(evts[i],logHuman);}
};for (var i =0;i < evts.length;i++) {addEvent(evts[i],logHuman);}
})('//2heng.xin/?wordfence_lh=1&hid=2BF1E39C726670AC1E43EA44EA674DC4');</script><link rel="stylesheet" type="text/css" href="../Css/login.css" />
<script type="text/javascript" src="../Scripts/jquery.min.js"></script>
<meta name='robots' content='noindex,noarchive' />
<meta name='referrer' content='strict-origin-when-cross-origin' />
<meta name="viewport" content="width=device-width" />
</head>
<body class="login login-action-register wp-core-ui  locale-en-us">
<div id="login">
<h1><a href="https://2heng.xin/" title="樱花庄的白猫">樱花庄的白猫</a></h1>
<p class="message register">Register For This Site</p>
<form name="registerform" id="registerform" action="https://2heng.xin/wp-login.php?action=register" method="post" novalidate="novalidate">
<p>
<label for="user_login">Username<br />
<input type="text" name="user_login" id="user_login" class="input" value="" size="20" autocapitalize="off" /></label>
</p>
<p>
<label for="user_email">Email<br />
<input type="email" name="user_email" id="user_email" class="input" value="" size="25" /></label>
</p>
<p id="reg_passmail">Registration confirmation will be emailed to you.</p>
<br class="clear" />
<input type="hidden" name="redirect_to" value="" />
<p class="submit"><input type="submit" name="wp-submit" id="wp-submit" class="button button-primary button-large" value="Register" /></p>
</form>
<p id="nav">
<a href="https://2heng.xin/wp-login.php">Log in</a>
| <a href="https://2heng.xin/wp-login.php?action=lostpassword">Lost your password?</a>
</p>
<p id="backtoblog"><a href="https://2heng.xin/">
&larr; Back to 樱花庄的白猫 </a></p>
<div class="privacy-policy-page-link"><a class="privacy-policy-link" href="https://2heng.xin/privacy-policy/">Privacy Policy</a></div>
</div>
<script type="text/javascript">try{document.getElementById('user_login').focus();}catch(e){}
if(typeof wpOnload=='function')wpOnload();</script>
<script async src="../Scripts/117eb07fbdd5422fa285c852f910863b.js"></script>
<script>window.dataLayer =window.dataLayer ||[];function gtag(){dataLayer.push(arguments);}
gtag('js',new Date());gtag('config','UA-100439904-2');</script><script type="text/javascript" src="../Scripts/login.js"></script>
<script type="text/javascript">jQuery("body").prepend("<div class=\"loading\"><img src=../Picture/00b1e86e7d564337928c5358b25b8917.gif"https://cdn.jsdelivr.net/gh/moezx/cdn@3.1.9/img/Sakura/images/login_loading.gif\" width=\"58\" height=\"10\"></div><div id=\"bg\"><img /></div>");jQuery('#bg').children('img').attr('src','https://view.moezx.cc/images/2018/06/09/wew.png').load(function(){resizeImage('bg');jQuery(window).bind("resize",function() {resizeImage('bg');});jQuery('.loading').fadeOut();});</script>
<script>function verificationOK(){var x,y,z ="verification";var x=$('#loginform').find('input[name="verification"]').val();var y=$('#registerform').find('input[name="verification"]').val();var z=$('#lostpasswordform').find('input[name="verification"]').val();if (x=="verification" ||y=="verification" ||z=="verification"){alert("Please slide the block to verificate!");return false;}
}
$(document).ready(function(){$('<p><div id="verification-slider"><div id="slider"><div id="slider_bg"></div><span id="label">»</span><span id="labelTip">Slide to Verificate</span></div><input type="hidden" name="verification" value="verification" /></div><p>' ).insertBefore($(".submit" ) );$('form').attr('onsubmit','return verificationOK();');$(".forgetmenot").replaceWith('<p class="forgetmenot">Remember Me<input name="rememberme" id="rememberme" value="forever" type="checkbox"><label for="rememberme" style="float: right;margin-top: 5px;transform: scale(2);margin-right: -10px;"></label></p>');});</script><script type="text/javascript">var startTime =0;var endTime =0;var numTime =0;$(function () {var slider =new SliderUnlock("#slider",{successLabelTip :"OK"
},function(){var sli_width =$("#slider_bg").width();$('#verification-slider').html('').append('<input id="verification-ok" class="input" type="text" size="25" value="OK!" name="verification" disabled="true" />');endTime =nowTime();numTime =endTime-startTime;endTime =0;startTime =0;});slider.init();})
function nowTime(){var myDate =new Date();var H =myDate.getHours();var M =myDate.getMinutes();var S =myDate.getSeconds();var MS =myDate.getMilliseconds();var milliSeconds =H *3600 *1000 + M *60 *1000 + S *1000 + MS;return milliSeconds;}
</script>
<script type="text/javascript" src="../Scripts/verification.js"></script> <div class="clear"></div>
</body>
</html>
